* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: linear-gradient(to bottom, #1d82d4, #5e159e);
}

header {
  width: 100%;
  height: 20%;
}

h1 {
  margin: 15px;
  text-align: center;
  text-transform: capitalize;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: purple;
  text-decoration-thickness: 4px;
}

main {
  width: 100%;
  height: 60%;
  display: flex;
}

.imageBox {
  max-width: 100%;
  height: auto;
}
.imageBox__pic {
  max-width: 100%;
  height: auto;
}

.calculator {
  margin: auto;
  width: 75%;
  height: 80%;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 6fr 2fr 2fr 2fr 2fr 2fr;
  gap: 10px;
  grid-template-areas: "calculator__screen calculator__screen calculator__screen calculator__screen calculator__screen calculator__screen" ". AC root percentage divide ." ". seven eight nine multiply ." ". four five six takeAway ." ". one two three plus ." ". nil decimal delete equals .";
  border-radius: 20px;
  box-shadow: 7px 5px 5px black;
  cursor: pointer;
  background-color: #70757e;
}
.calculator__screen {
  grid-area: calculator__screen;
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  word-break: break-all;
  background-color: azure;
  border-radius: 15px;
}
.calculator__screen #screenPrev {
  max-width: 95%;
  height: 50%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
}
.calculator__screen #screenCurr {
  max-width: 95%;
  height: 50%;
  padding-right: 5px;
  padding-left: 5px;
}
.calculator__buttons {
  width: 100%;
  height: 45%;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-color: aqua;
  box-shadow: 5px 3px 2px black;
}
.calculator__buttons--number {
  width: 100%;
  height: 45%;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-color: #15ff00;
  box-shadow: 5px 3px 2px black;
}
.calculator__buttons--operation {
  width: 100%;
  height: 45%;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-color: #ffdd00;
  box-shadow: 5px 3px 2px black;
}
.calculator #AC {
  grid-area: AC;
}
.calculator #root {
  grid-area: root;
}
.calculator #percentage {
  grid-area: percentage;
}
.calculator #divide {
  grid-area: divide;
}
.calculator #seven {
  grid-area: seven;
}
.calculator #eight {
  grid-area: eight;
}
.calculator #nine {
  grid-area: nine;
}
.calculator #multiply {
  grid-area: multiply;
}
.calculator #four {
  grid-area: four;
}
.calculator #five {
  grid-area: five;
}
.calculator #six {
  grid-area: six;
}
.calculator #takeAway {
  grid-area: takeAway;
}
.calculator #one {
  grid-area: one;
}
.calculator #two {
  grid-area: two;
}
.calculator #three {
  grid-area: three;
}
.calculator #plus {
  grid-area: plus;
}
.calculator #nil {
  grid-area: nil;
}
.calculator #decimal {
  grid-area: decimal;
}
.calculator #delete {
  grid-area: delete;
}
.calculator #equals {
  grid-area: equals;
}

p {
  margin: 30px;
  text-align: center;
}

.calculator__buttons:hover {
  background-color: whitesmoke;
}

.calculator__buttons--number:hover {
  background-color: whitesmoke;
}

.calculator__buttons--operation:hover {
  background-color: whitesmoke;
}

p:hover {
  color: red;
}

footer {
  width: 100%;
  height: 20%;
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 80%;
  }

  .imageBox {
    display: none;
  }
  .imageBox__pic {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .calculator {
    width: 70%;
  }

  .imageBox {
    display: none;
  }
  .imageBox__pic {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .calculator {
    width: 60%;
  }

  .imageBox {
    width: 20%;
    height: 90%;
  }
  .imageBox__pic {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .calculator {
    width: 40%;
  }

  .imageBox {
    width: 50%;
    height: 90%;
  }
  .imageBox__pic {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .calculator {
    width: 30%;
  }

  .imageBox {
    width: 50%;
    height: 90%;
  }
  .imageBox__pic {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1201px) {
  .calculator {
    width: 25%;
  }

  .imageBox {
    width: 50%;
    height: 90%;
  }
  .imageBox__pic {
    max-width: 100%;
    height: auto;
  }
}