* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  width: 100%;
  height: 20%;
}

main {
  width: 100%;
  height: 60%;
}

.calculator {
  margin: auto;
  width: 20%;
  height: 80%;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 4fr 2fr 2fr 2fr 2fr 2fr;
  gap: 10px;
  grid-template-areas: "calculator__screen calculator__screen calculator__screen calculator__screen calculator__screen calculator__screen" ". AC root percentage divide ." ". seven eight nine multiply ." ". four five six takeAway ." ". one two three plus ." ". nil decimal delete equals .";
  border-radius: 20px;
  box-shadow: 7px 5px 5px black;
  cursor: pointer;
  background-color: blueviolet;
}
.calculator__screen {
  grid-area: calculator__screen;
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: azure;
  border-radius: 15px;
}
.calculator__screen #screenPrev {
  max-width: 100%;
  height: 50%;
}
.calculator__screen #screenCurr {
  max-width: 100%;
  height: 50%;
}
.calculator__buttons {
  width: 100%;
  height: 45%;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-color: aqua;
  box-shadow: 5px 3px 2px black;
}
.calculator__buttons--number {
  width: 100%;
  height: 45%;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-color: #15ff00;
  box-shadow: 5px 3px 2px black;
}
.calculator__buttons--operation {
  width: 100%;
  height: 45%;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-color: #ffdd00;
  box-shadow: 5px 3px 2px black;
}
.calculator #AC {
  grid-area: AC;
}
.calculator #root {
  grid-area: root;
}
.calculator #percentage {
  grid-area: percentage;
}
.calculator #divide {
  grid-area: divide;
}
.calculator #seven {
  grid-area: seven;
}
.calculator #eight {
  grid-area: eight;
}
.calculator #nine {
  grid-area: nine;
}
.calculator #multiply {
  grid-area: multiply;
}
.calculator #four {
  grid-area: four;
}
.calculator #five {
  grid-area: five;
}
.calculator #six {
  grid-area: six;
}
.calculator #takeAway {
  grid-area: takeAway;
}
.calculator #one {
  grid-area: one;
}
.calculator #two {
  grid-area: two;
}
.calculator #three {
  grid-area: three;
}
.calculator #plus {
  grid-area: plus;
}
.calculator #nil {
  grid-area: nil;
}
.calculator #decimal {
  grid-area: decimal;
}
.calculator #delete {
  grid-area: delete;
}
.calculator #equals {
  grid-area: equals;
}

.calculator__buttons:hover {
  background-color: whitesmoke;
}

.calculator__buttons--number:hover {
  background-color: whitesmoke;
}

.calculator__buttons--operation:hover {
  background-color: whitesmoke;
}

footer {
  width: 100%;
  height: 20%;
}